@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    background: #330D40;
    margin: 0;
    color: #CC33FF;
    font-family: 'Lobster', cursive;
}

.row {
    margin: 20px;
}

.neon-container {
    border-width: 5px;
    border-color: #CC33FF;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 10px rgba(204, 51, 255, 0.5);
}

div.header-container {
    /*    margin: 2% 10%;*/
    width: 40%;
    padding: 10px;
    margin: 25px auto;
    text-align: center;
}

div.header-container h1 {
    font-size: 3.5em;
    /*    font-weight: 700;*/
    text-shadow: 1px 2px #DF7FFF;
}

div.sub-container {
    margin: 10px 20px;
    text-align: center;
}

div.sub-container h2 {
    font-size: 40px;
    margin: 10px;
    text-align: center;
}

div.menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

div.menu ul h3:not(:nth-child(0)) {
    margin: 25px 0px 15px 0px;
}

div.menu ul li {
    font-size: 18px;
}

div.sub-container iframe.map-location {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-width: 5px;
    border-color: #CC33FF;
    border-style: solid;
    border-radius: 10px;
    width: 70%;
    height: 400px
}

div.sub-container p {
    font-size: 20px;
    margin: 25px;
}

@media screen and (max-width: 600px) {
    div.header-container {
        width: 90%;
        padding: 10px;
        margin: 25px auto;
        text-align: center;
    }

    div.sub-container {
        margin-top: 25px;
    }

    div.sub-container iframe.map-location {
        width: 95%;
        height: 300px
    }
}
